/* 
 * =====================================================================
 *
 * sushikito.fr
 * main.css
 * Base rules and style guide for this website
 * Mar 2017
 * @author:  Andres Hernandez <hernandez.andres.d@gmail.com>
 * @copyright: sushikito.fr
 *
 * =====================================================================
 */
/* ==========================================================================
   Settings
   ========================================================================== */
/*
 * @include-media Beakpoints Map
 */
/*
 * Color settings
 */
/*
 * Keeps $space relative to Font-size
 */
/*
 * $space units
 */
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #ffffff;
  font-size: 1em;
  line-height: 1.1; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 * Update: Make all media elements adjust to parent size
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-size: 16px;
  line-height: 1.1;
  color: #ffffff; }

.container {
  margin: 0 auto;
  padding: 0 17.6px;
  max-width: 64rem; }

/* ==========================================================================
   Typogrphy
   ========================================================================== */
a {
  text-decoration: none !important;
  color: inherit; }
  a:active, a:focus, a:hover {
    outline: 0 !important; }

/* ==========================================================================
   Navbar Component
   ========================================================================== */
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  border-bottom: 1px solid #333333; }
  #navigation .navbar {
    position: relative;
    width: 100%;
    height: 70.4px; }

.navbar > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.navbar .brand {
  width: 100%;
  text-align: center; }
  @media (min-width: 601px) {
    .navbar .brand {
      width: auto;
      left: 0; } }

.navbar .nav {
  right: 0;
  width: auto;
  display: none; }
  .navbar .nav li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 17.6px; }
  @media (min-width: 601px) {
    .navbar .nav {
      display: table; } }

/* ==========================================================================
   Header component
   ========================================================================== */
#header {
  background: transparent; }
  #header.header-hero .header-ratio {
    padding-bottom: 100%; }

@media (min-width: 601px) and (max-width: 900px) {
  #header.header-hero .header-ratio {
    padding-bottom: 75%; } }

@media (min-width: 901px) and (max-width: 1024px) {
  #header.header-hero .header-ratio {
    padding-bottom: 50%; } }

@media (min-width: 1025px) and (max-width: 1700px) {
  #header.header-hero .header-ratio {
    padding-bottom: 33.33333333333333%; } }
    @media (min-width: 1701px) {
      #header.header-hero .header-ratio {
        padding-bottom: 25%; } }

/* ==========================================================================
   Spacers
   ========================================================================== */
.ratio--4by1 {
  padding-bottom: 25%; }

.ratio--3by1 {
  padding-bottom: 33.33333333333333%; }

.ratio--2by1 {
  padding-bottom: 50%; }

.ratio--16by9 {
  padding-bottom: 56.25%; }

.ratio--3by2 {
  padding-bottom: 66.66666666666667%; }

.ratio--4by3 {
  padding-bottom: 75%; }

.ratio--full {
  padding-bottom: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.noWrap {
  white-space: nowrap; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
