/* 
 * =====================================================================
 *
 * sushikito.fr
 * main.css
 * Base rules and style guide for this website
 * Mar 2017
 * @author:  Andres Hernandez <hernandez.andres.d@gmail.com>
 * @copyright: sushikito.fr
 *
 * =====================================================================
 */
/* ==========================================================================
   Settings
   ========================================================================== */
/*
 * @include-media Beakpoints Map
 */
/*
 * Color settings
 */
/*
 * Keeps $space relative to Font-size
 */
/*
 * $space units
 */
/* ==========================================================================
   Base
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.1;
  color: #ffffff; }

#navigation,
#content,
#footer {
  background-color: #000000; }

.container {
  margin: 0 auto;
  padding: 0 17.6px;
  max-width: 64rem; }

/* ==========================================================================
   Typogrphy
   ========================================================================== */
a {
  text-decoration: none !important;
  color: inherit; }
  a:active, a:focus, a:hover {
    outline: 0 !important; }

/* ==========================================================================
   Placeholding Page
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.1; }

.wrap {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover !important;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

.wrap-content {
  margin-top: 10%;
  height: auto;
  padding-bottom: 17.6px; }

.call-out {
  max-width: 37.5rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../img/mosaic2.jpg);
  background-position: top left;
  background-repeat: repeat-x; }
  .call-out .call-out-container {
    padding: 5rem 2rem 2rem;
    text-align: center;
    color: #000000; }
  .call-out p {
    margin-top: 1rem; }

.container {
  margin: 0 auto;
  max-width: 51.2rem; }

.icon {
  display: inline-block;
  height: 27px;
  width: 25px;
  margin: 0 0.25rem;
  background: url(../img/social-sprite.png) no-repeat; }
  .icon.icon-facebook {
    background-position: -44px -40px; }
  .icon.icon-insta {
    background-position: -82px -40px; }

#footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -17.6px;
  /* negative value of footer height */
  height: 17.6px;
  clear: both; }

@media screen and (max-width: 599px) {
  .wrap {
    background: none !important; }
  .wrap-content {
    margin-top: 0; }
  .call-out {
    background-color: #ffffff; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.noWrap {
  white-space: nowrap; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
