<!-- Footer -->
<section id="footer">
	<div class="stripe-pattern pattern-sm"></div>
	<div class="footer-content">
		<div class="container">	
			<div class="grid grid--center grid--1-1">
				<div class="grid-cell">
					<p>Sushi'kito</p>
					<p>6 rue Saint-nicolas, Nantes France</p>
					<p><a href="tel:+33240897385">Tel: +33 2 40 89 73 85</a></p>
				</div>
			</div>
		</div>
	</div>
 	<p class="footer-rights">Copyright &copy; 2017. Sushi'kito. Tous les droits sont réservés</p>
	<!-- <p class="footer-author">créé par <a href="https://github.com/andresh83">Andrés Hernández</a></p> -->
</section>