<!-- Footer -->
<section id="footer">
	<div class="aligner">
		<div class="aligner-item">
			<div class="container">
		        <!-- <div class="grid">
		            <div class="grid-cell grid-cell--1-6"> -->
		            	<p>6 Rue Saint-Nicolas, Nantes 44000, France.</p>
		            	<p><a href="tel:+33 2 40 89 73 85" target="_blank">+33 2 40 89 73 85</a></p>
		            <!-- </div>
		            <div class="grid-cell grid-cell--3-6"> -->
		            	<p class="text--right">
		            		<a href="https://www.facebook.com/sushikitonantes/" target="_blank"><img width="44" src="./img/facebook.png" alt="facebook"></a>
		                    &nbsp;
		                    <a href="https://www.instagram.com/sushikito_nantes/" target="_blank"><img width="44" src="./img/instagram.png" alt="instagram"></a>
		                    &nbsp;
		                    <a href="https://www.twitter.com/sushikito_nantes/" target="_blank"><img width="44" src="./img/twitter.png" alt="twitter"></a>
		                </p>
		            <!-- </div>
		            <div class="grid-cell grid-cell--2-6">
		            </div> -->
		        </div>
		    </div>
		</div>
	</div>
	<div class="footer-bottom">
		<p class="text--center">Copyright &copy; 2017. Sushi'kito. Tous les droits sont réservés</p>
		<p class="text--center">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
	</div>
	
</section>