<!-- Footer -->
<section id="footer">
	<div class="footer-ratio"></div>
	<div class="footer-content">
		<div class="container">
			<div class="footer-bottom">
	            <div class="grid grid--center grid--1-2 grid--1-2@xs">
	                <div class="grid-cell">
	                	<p>6 Rue Saint-Nicolas, <br/>44000 Nantes, <br/>France</p>
	                	<p>+33 2 40 89 73 85</p>
	                </div>
	                <div class="grid-cell">
	                	<p class="text--right">
	                		<a href="https://www.facebook.com/sushikitonantes/" target="_blank"><img width="44" src="./img/facebook.png" alt="facebook"></a>
	                        &nbsp;
	                        <a href="https://www.instagram.com/sushikito_nantes/" target="_blank"><img width="44" src="./img/instagram.png" alt="instagram"></a>
	                        &nbsp;
	                        <a href="https://www.twitter.com/sushikito_nantes/" target="_blank"><img width="44" src="./img/twitter.png" alt="twitter"></a>
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>
		<p class="text--center">Copyright &copy; 2017. Sushi'kito. Tous les droits sont réservés</p>
	</div>
</section>