<!-- Hero -->
{{#ifpage 'index'}}
<section id="hero" style="background-image: url('./img/hero-2.jpg');">
    <div class="hero-content">
    	<div class="container">
        <h1>Sushis Fusion!</h1>
    	</div>
	</div>
	<div class="hero-links">
		<ul class="nav">
            <li><a class="btn-links" href="menu.html">Menu</a></li><!--
          --><li><a class="btn-links" href="#information">Information</a></li><!--
          --><li><a class="btn-links" href="#trouve">Trouve nous</a></li>
        </ul>
	</div>
</section>
{{/ifpage}}

{{#ifpage 'menu'}}
<section id="hero" style="background-image: url('./img/hero-3.jpg');">
    <div class="hero-content">
        <div class="container">
        <h1>Nous menus</h1>
        </div>
    </div>
</section>
{{/ifpage}}