<!-- Hero -->
{{#ifpage 'index'}}
<section id="hero" style="background-image: url('./img/hero-2.jpg');">
    <div class="hero-content">
    	<div class="container">
            <h1 class="text--tilted">Sushis Fusion!</h1>
    	</div>
	</div>
	<div class="hero-links">
		<ul class="nav">
            <li class="nav__btn nav__btn--red"><a href="menu.html">Menu</a></li>
            <li class="nav__btn nav__btn--red"><a href="#commander">Commander</a></li>
            <li class="nav__btn nav__btn--red"><a href="#reserver">R&eacute;server</a></li>
        </ul>
	</div>
</section>
{{/ifpage}}

{{#ifpage 'menu'}}
<section id="hero" style="background-image: url('./img/hero-3.jpg');">
    <div class="hero-content">
        <div class="container">
            <h1>Nous menus</h1>
        </div>
    </div>
</section>
{{/ifpage}}