<!-- La Carte -->
<section id="menu">
	<div class="menu-nav">
        <ul class="nav">
            <li>Entreés</li>
            <li>Clasique Rolls</li>
            <li>Sushi'kito Rolls</li>
            <li>Sashimi</li>
            <li>Nigiri</li>
            <li>Maki</li>
            <li>Sushi Burrito</li>
            <li>Desserts</li>
            <li>Boissons</li>
        </ul>
	</div>
    <div class="container">
        <div class="menu-category">
            <!-- Entreés -->
            <h1 class="category-header">Entreés</h1>
            <div class="grid grid--gutters grid--center grid--1-1 grid--1-2@xs grid--1-3@sm grid--1-4@md">
                <div class="grid-cell">
                    <div class="menu-item">
                        <img class="item-thumb" src="./img/bg6.jpg">
                        <p class="item-title">Menu item</p>
                        <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="grid-cell">
                    <div class="menu-item">
                        <img class="item-thumb" src="http://placehold.it/150x150">
                        <p class="item-title">Menu item</p>
                        <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="grid-cell">
                    <div class="menu-item">
                        <img class="item-thumb" src="http://placehold.it/150x150">
                        <p class="item-title">Menu item</p>
                        <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>