<!-- La Carte -->
<section id="menu">
	<div class="menu-nav">
        <ul class="nav">
            <li><a href="#" data-page="1">Entreés</a></li>
            <li><a href="#" data-page="2">Clasique Rolls</a></li>
            <li><a href="#" data-page="3">Sushi'kito Rolls</a></li>
            <li><a href="#" data-page="4">Sashimi</a></li>
            <li><a href="#" data-page="5">Nigiri</a></li>
            <li><a href="#" data-page="6">Maki</a></li>
            <li><a href="#" data-page="7">Sushi Burrito</a></li>
            <li><a href="#" data-page="8">Desserts</a></li>
            <li><a href="#" data-page="9">Boissons</a></li>
        </ul>
	</div>
    <div class="container">
        <div id="menu-container">
            <article class="menu-page">
                <h1 class="category-header">{{menu.category}}</h1>
                <div class="grid grid--gutters grid--center grid--1-2 grid--1-4@xs">
                    <div class="grid-cell">
                        <div class="menu-item">
                            <img class="item-thumb" src="{{menu.items.img}}">
                            <p class="item-title">{{menu.items.name}}</p>
                            <p class="item-price">{{menu.items.price}}</p>
                            <p class="item-desc">{{menu.items.descrip}}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>