<!-- La Carte -->
<section id="menu">
	<div class="menu-nav">
        <ul class="nav">
            <li><a href="#" data-page="1">Entreés</a></li>
            <li><a href="#" data-page="2">Clasique Rolls</a></li>
            <li><a href="#" data-page="3">Sushi'kito Rolls</a></li>
            <li><a href="#" data-page="4">Sashimi</a></li>
            <li><a href="#" data-page="5">Nigiri</a></li>
            <li><a href="#" data-page="6">Maki</a></li>
            <li><a href="#" data-page="7">Sushi Burrito</a></li>
            <li><a href="#" data-page="8">Desserts</a></li>
            <li><a href="#" data-page="9">Boissons</a></li>
        </ul>
	</div>
    <div class="container">
        <div id="menu-container">
            <article class="menu-page">
                <!-- Entreés -->
                <h1 class="category-header">Entreés</h1>
                <div class="grid grid--gutters grid--center grid--1-2 grid--1-4@xs">
                    <div class="grid-cell">
                        <div class="menu-item">
                            <img class="item-thumb" src="./img/bg6.jpg">
                            <p class="item-title">Menu item</p>
                            <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="menu-item">
                            <img class="item-thumb" src="http://placehold.it/150x150">
                            <p class="item-title">Menu item</p>
                            <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="menu-item">
                            <img class="item-thumb" src="http://placehold.it/150x150">
                            <p class="item-title">Menu item</p>
                            <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </article>      
            <article class="menu-page">
                <!-- Clasique Rolls -->
                <h1 class="category-header">Clasique Rolls</h1>
                <div class="grid grid--gutters grid--center grid--1-3 grid--1-4@xs">
                    <div class="grid-cell">
                        <div class="menu-item">
                            <img class="item-thumb" src="./img/bg6.jpg">
                            <p class="item-title">Menu item</p>
                            <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </article>      
        </div>
    </div>
</section>