<!-- Nav -->
<nav class="navbar">
    <div class="navbar-header">
        <div class="navbar-brand">
            <a href="index.html"><img src="./img/logo-name-red-horizontal.png" alt="logo"/></a>
        </div>
        <a class="navbar-toggle" href="#">
            <label class="toggle-bar-wrap">
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
            </label>
        </a>
    </div>
    <div class="navbar-nav">
        <ul class="nav">
            {{#unlesspage 'index'}}
            <li><a href="index.html">Home</a></li>
            {{/unlesspage}}
            {{#unlesspage 'menu'}}
            <li><a href="menu.html">Menu</a></li>
            {{/unlesspage}}
            <li><a href="./index.html#information">Information</a></li>
            <li><a href="./index.html#trouve">Trouve nous</a></li>
        </ul>
    </div>
</nav>
