<!-- Nav -->
<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-toggle" href="#">
            <label class="toggle-bar-wrap">
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
            </label>
        </a>
    </div>
    <div class="navbar-nav">
        <ul class="nav">
            <li><a href="#carte">La Carte</a></li>
            <li><a href="#Information">Information</li>
            <li><a href="#Trouve">Nous Trouve</li>
            <li><a href="#Contacter">Nous Contacter</li>
        </ul>
    </div>
</nav>
