<!-- Nav -->
<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-toggle" href="#">
            <label class="toggle-bar-wrap">
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
            </label>
        </a>
    </div>
    <div class="navbar-nav">
        <ul class="nav">
            <li><a href="#menu">La Carte</a></li>
            <li><a href="#information">Information</a></li>
            <li><a href="#trouve">Trouve-nous</a></li>
            <li><a href="#contacter">Contactez-nous</a></li>
        </ul>
    </div>
</nav>
