
/* ==========================================================================
   Header component
   ========================================================================== */

#header {
	background: transparent; 

	&.header-hero{
		.header-ratio{
			padding-bottom: 100%;

			@include media ('>xs', '<=sm'){
				padding-bottom: 75%;
			}
			@include media ('>sm', '<=md'){
				padding-bottom: 50%;
			}
			@include media ('>md', '<=lg'){
				padding-bottom: 33.33333333333333%;
			}
			@include media ('>lg'){
				padding-bottom: 25%;
			}
		}	
	}
}