
/* ==========================================================================
   Navbar Component
   ========================================================================== */

#navigation {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto; 
	background-color: $color-black-90; 
	border-bottom: 1px solid $color-black-80;

	.navbar {
		position: relative; 
		width: 100%; 
		height: $space--X4; 
	}
}

.navbar {
	> * {
		position: absolute; 
		top: 50%; 
		transform: translateY(-50%); 
	}

	.brand {
		width: 100%; 
		text-align: center; 

		@include media('>xs'){
			width: auto; 
			left: 0;
		}
	}

	.nav {
		right: 0; 
		width: auto; 
		display: none; 
		
		li {
			display: table-cell;
			vertical-align: middle; 
			text-align: center; 
			padding: 0 $space; 
		}

		@include media('>xs'){
			display: table;
		}
	}
}