
/* ==========================================================================
   Settings
   ========================================================================== */

/*
 * @include-media Beakpoints Map
 */

$breakpoints: (
	xs: 600px, 
	sm: 900px, 
	md: 1200px, 
	lg: 1700px
);

/*
 * Color settings
 */
$color-white: 		#ffffff;
$color-gray: 		#cccccc;  
$color-black: 		#000000;
$color-black-90: 	#171717; 
$color-black-80: 	#333333; 
$color-brand-red: 	#E32016; 

$color-text: 		$color-white; 
$color-background: 	$color-black; 

/*
 * Keeps $space relative to Font-size
 */

$base-unite-size: 16; 
$base-font-size: ($base-unite-size * 1px); 
$line-height: 1.1; 

/*
 * $space units
 */

$space: ($base-unite-size * $line-height) * 1px;
$space--X2: ($space * 2); 
$space--X3: ($space * 3); 
$space--X4: ($space * 4); 
$space--X5: ($space * 5); 
