
/* ==========================================================================
   Base
   ========================================================================== */

* {
	margin: 0; 
	padding: 0;
}

html, 
body {
	height: 100%; 
	width: 100%;
	font-size: $base-font-size;
	line-height: $line-height;
	color: $color-text; 
	background-color: $color-background;
}

.container {
	margin: 0 auto;
	padding: 0 $space; 
	max-width: 56.25rem; 
}

.page--404{
	#content {
		height: 100%; 
		width: 100%; 
		display: table; 
		vertical-align: middle; 
	}
	
	.container{
		display: table-cell; 
		text-align: center; 
	}
}