
/* ==========================================================================
   Base
   ========================================================================== */

* {
	margin: 0; 
	padding: 0;
}

html {
    font-family: sans-serif, arial;
    font-size: 85%;
    line-height: $line-height;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $color-text; 

    @include media('>xs') { font-size: 95%; }
    @include media('>sm') { font-size: 100%; }
}

html, 
body {
	height: 100%; 
	width: 100%;
	background-color: $color-black;
}

article {
	position: relative;
	padding-top: $section-space;
	padding-bottom: $section-space;
	height: auto; 
}

#content {
	background-color: $color-background;
}

.container {
	margin: 0 auto;
	padding: 0 $space; 
	max-width: 70rem; 
	height: 100%;

	&.container--sm {
		max-width: 40rem;
	}
}


.notfound404 {
	#content {
		height: 100%; 
		width: 100%; 
	}
}