
/* ==========================================================================
   carousel
   ========================================================================== */


.carousel-cell {
	width: 33%;
	height: 300px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #8C8;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; 
}