
/* ==========================================================================
   Footer component
   ========================================================================== */

$footer-text-color: $color-gray-dark;

#footer {
	display: block;
	padding: $space--X2 0; 
	font-weight: 100;
	font-size: $font-small; 
	color: $footer-text-color; 
	background-color: $color-black; 
	text-align: center;
}