
/* ==========================================================================
   Header component
   ========================================================================== */

#header {
	/* The image used */
    background-image: url("http://placehold.it/1280x720");

    /* Create the parallax scrolling effect */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	&.header-hero{
		.header-ratio{
			padding-bottom: 100%;

			@include media ('>xs'){
				padding-bottom: 75%;
			}
			@include media ('>sm'){
				padding-bottom: 50%;
			}
			@include media ('>lg'){
				padding-bottom: 33.33333333333333%;
			}
		}	
	}
}