
/* ==========================================================================
   Hero component
   ========================================================================== */

#hero {
	position: relative; 
	width: 100%; 
	height: auto; 

	.hero-ratio{
		@include media ('>xs'){
			padding-bottom: 66.66666666666667%;; // 3by2
		}

		@include media ('>sm'){
			padding-bottom: 56.25%; // 16by9
		}

		padding-bottom: 75%; // 4by3
	}	

	.hero-content {
		position: absolute; 
		bottom: 0%;
	    left: 0%;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    background-color: $color-black;
	}


	.no-video,  
	.touch {
		.video-container video {
	    	display: none;
	    }
	}

	.no-video, 
	.touch {
		.video-container .poster {
		    display: block !important;
		}
	}

	.video-container {
	    position: relative;
	    display: block;
	    bottom: 0%;
	    left: 0%;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    content: none;
		
		.poster img {
		    position: absolute;
		    width: 100%;
		    bottom: 0;
		}
		
		.filter {
		    position: absolute;
		    top: 0; 
		    bottom: 0; 
		    left: 0;
		    width: 100%;
		    background: rgba(0, 0, 0, 0.4);
		    z-index: 1;
		}

		video {
		    position: absolute;
		    z-index: 0;
		    bottom: 0;
		}

		video.fillWidth {
		    width: 100%;
		}
	}
}