
/* ==========================================================================
   Hero component
   ========================================================================== */

#hero {
	position: relative; 
	width: 100%; 
	height: auto; 

    // background-image: url("http://placehold.it/1280x720");
    background-image: url("../img/restaurant.jpg");
    background-position: top center;
    background-repeat: no-repeat;
	background-size: cover;

	&.hero-header{
		.hero-ratio{
			@include media ('>xs'){
				padding-bottom: 75%;
			}
			@include media ('>sm'){
				padding-bottom: 50%;
			}
			@include media ('>lg'){
				padding-bottom: 33.33333333333333%;
			}

			padding-bottom: 100%;
		}	
	}

	.hero-content {
		@include media ('>sm') {
			width: 80%; 
			margin: 0 10%;
		}

		position: absolute; 
		top: 50%; 
		width: 100%;
		height: 10rem;
		transform: translateY(-50%);
		background-color: rgba($color-white, 0.5);
	}
}