
/* ==========================================================================
   Hero component
   ========================================================================== */

#hero {
	/* The image used */
    background-image: url("http://placehold.it/1280x720");
    
    background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;

	&.hero-header{
		.hero-ratio{
			padding-bottom: 100%;

			@include media ('>xs'){
				padding-bottom: 75%;
			}
			@include media ('>sm'){
				padding-bottom: 50%;
			}
			@include media ('>lg'){
				padding-bottom: 33.33333333333333%;
			}
		}	
	}
}