
/* ==========================================================================
   Menu components
   ========================================================================== */

.menu-container {
	background: url('../img/mosaic3.jpg') repeat-y, url('../img/mosaic4.jpg') repeat-y; 
	background-position: -12% 0%, 112% 0%;
	padding: 0 $space; 

	@include media ('>xs'){
		padding: 0;
		background-position: 0% 0%, 100% 0%;
	}
}

.menu-category {
	margin-bottom: custom-space(4); 
	padding: 0 3rem 3rem 3rem; 
	border: 1px solid $color-gray; 
	border-radius: 65px;
	

	.category-header {
		display: inline-block; 
		padding: 0 $space;
		background-color: $color-background; 
		margin-top: -5rem;
	}
}

.menu-item{
	text-align: left;
	
	.item-title {
		float: left; 
	}
	.item-price {
		float: right; 
	}
}
