
/* ==========================================================================
   Menu components
   ========================================================================== */

#menu {
	.menu-category {
		padding-bottom: 50%; 
	}

	.menu-item{
		background-color: $color-white; 
		color: $color-black; 
		padding: $space; 
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

		.item-thumb {
			border-radius: 5px; 
			padding: $space 0; 
		}

		.item-title {
			margin: $space 0;
		}

		.item-desc {
			font-size: $font-small; 
		}
	}

}