
/* ==========================================================================
   Navbar Component
   ========================================================================== */

#navigation {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto; 
	border-bottom: 1px solid $color-black-80;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

	.navbar {
		position: relative; 
		width: 100%; 
		height: $space--X4; 
	}
}

.navbar {
	
	.brand {
		position: absolute; 
		top: 50%; 
		width: 100%; 
		text-align: center; 
		transform: translateY(-50%); 

		@include media('>xs'){
			width: auto; 
			left: 0;
		}
	}

	.navbar-nav {
		position: absolute; 
		top: 50%; 
		right: 0;
		transform: translateY(-50%); 
		
	}

	.nav {
		display: none; 
		transition: all 1s ease-out; 

		&.open {
			position: fixed; 
			top: 0; 
			right: 0; 
			bottom: 0; 
			left: 0; 
			display: block; 
			transform: translateX(0%); 
		}

		li {
			display: inline-block;
			text-align: center; 
			padding: 0 $space; 
		}

		@include media('>xs'){
			display: block;
		}
	}
}