
/* ==========================================================================
   Spacers
   ========================================================================== */

@mixin spacers ($className, $css, $units){
	@for $i from 0 through $units {
		#{$className}X#{$i}{
			#{$css}: custom-space($i); 
		}
	}	
} 

// Resets
// --------------------------------------------------------------------------
.margin-X0 		{ margin: 0; } 
.padding-X0		{ padding: 0; } 

// Margins
// --------------------------------------------------------------------------
@include spacers ('.margin-T', margin, 6); 
@include spacers ('.margin-R', margin, 6); 
@include spacers ('.margin-B', margin, 6); 
@include spacers ('.margin-L', margin, 6); 

// Paddings
// --------------------------------------------------------------------------
@include spacers ('.padding-T', padding, 6); 
@include spacers ('.padding-R', padding, 6); 
@include spacers ('.padding-B', padding, 6); 
@include spacers ('.padding-L', padding, 6); 


// Paddings Compound
// --------------------------------------------------------------------------
.padding-TB		{ padding-top: $space; padding-bottom: $space; }
.padding-TBX2	{ padding-top: $space--X2; padding-bottom: $space--X2; }