
/* ==========================================================================
   Stripe component
   ========================================================================== */


.stripe {

	&.stripe-bg {
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center center; 
	} 

	&.stripe-color {
		background-color: $color-gray-lite; 
	}
}