
/* ==========================================================================
   Stripe component
   ========================================================================== */


.stripe {
	&.stripe--bg {
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center center; 
	} 

	&.stripe--color {
		background-color: $color-black; 
	}

	&.stripe--bordered {
		background-image: url('../img/pattern_dots_sm-20.png'), url('../img/pattern_dots_sm-20_down.png'); 
		background-position: top left, bottom left; 
		background-repeat: repeat-x, repeat-x;
	}
}

#banner.stripe {
	min-height: 50vh;
	background-position: top center;
}

#information.stripe {
	min-height: 70vh;
	background-repeat: no-repeat; 
	background-position: top left; 
	background-size: 100%;
	background-image: url('../img/chef-sebastian.jpg');

	@include media('>sm'){
		min-height: 50vh;
		background-size: cover;
	}
}