
/* ==========================================================================
   Typogrphy
   ========================================================================== */


// Fonts
// --------------------------------------------------------------------------

@each $font-face in 'go3v2', 'century-gothic', 
	'century-gothic-italic', 'century-gothic-bold'{
    @font-face {
        font-family: $font-face; font-style: normal; font-weight: normal;
        src: url('../fonts/#{$font-face}.eot');
        src: url('../fonts/#{$font-face}.eot?') format('eot'),
             url('../fonts/#{$font-face}.woff') format('woff'),
             url('../fonts/#{$font-face}.ttf')  format('truetype');
    }
}
  
$font-stack-go3v2: Impact, Charcoal, sans-serif; 
$font-stack-century: CenturyGothic,AppleGothic,sans-serif; 

$font-go3v2: 	join( go3v2, $font-stack-century ); 
$font-century:  join( century-gothic, $font-stack-century ); 
$font-bold:   	join( century-gothic-bold, $font-stack-century ); 
$font-italic:   join( century-gothic-italic, $font-stack-century ); 


// Headings
// --------------------------------------------------------------------------
h1,h2,h3,
h4,h5,h6 {
	font-family: $font-go3v2; 
	font-size: $base-font-size * 2; 

	&.bold,
	strong {
		font-weight: bold; 
		font-style: inherit; 
	}

	em, 
	.cursive {
		font-style: italic; 
		font-style: inherit; 
	}
}


// Paragraph
// --------------------------------------------------------------------------
a, p, li,  
td, th, 
span, label, {
	font-family: $font-century; 
	margin-bottom: 5px; 

	&.bold,
	strong {
		font-family: $font-bold;
		font-weight: bold;
	}

	em, 
	.cursive {
		font-family: $font-italic; 
	}
}

sub,
sup {
	font-size: 75%;
    line-height: inherit;
    position: relative;
    top: -0.5em;
}

// Anchor
// --------------------------------------------------------------------------

a {
	text-decoration: none; 
	color: inherit;

	&:active, 
	&:focus, 
	&:hover {
		outline: 0 !important;
	}
}

// Lists
// --------------------------------------------------------------------------
ul:not(.nav):not(.dropdown-menu):not(.list-group) {
	list-style-type: none; 
    margin-left: $space; 
    
    li:before {
        content: "";
        position:relative;
        left: -8px;
        margin-left: -6px;
        margin-bottom: 2px;
        background-color: $color-text;

        display:inline-block;
        width: 6px;
        height: 6px;
        border-radius:50%
    }

    ul li:before{
        content: "";
        position:relative;
        left: -10px;
        background-color: $color-text;

        display:inline-block;
        width:5px;
        height:1px;
    }
}

ol {
	margin-left: $space; 
	list-style-type: decimal;

	li:before {
		margin-left: 2px; 
		padding: 0;
	}
}