
/* ==========================================================================
   Placeholding Page
   ========================================================================== */
*{
	margin: 0; 
	padding: 0;
}

html, 
body {
	height: 100%; 
	width: 100%;
	background-color: $color-black; 
	color: $color-white; 
	font-size: 16px;
	line-height: 1em;
}


body { 
 
}

.wrap {
	position: fixed;
    display: block;
    width: 100%;
    height: 100%;	
	overflow: hidden; 
	 background: url(../img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.wrap-content {
	position: absolute; 
	top: 10%; 
	left: 0; 
	width: 100%; 
	height: auto;
}

.call-out {
	max-width: 37.5rem;
	margin: 0 auto; 
	background-color: rgba($color-white, 0.8);
	background-image: url(../img/mosaic2.jpg);
	background-position: top left; 
	background-repeat: repeat-x;

	.call-out-container {
		padding: 5rem 2rem 2rem; 
		text-align: center;
		color: $color-black;
	}

	p {
		margin-top: 1rem;
	}

}

.container {
	margin: 0 auto; 
	max-width: 51.2rem; 
}

.icon {
	display: inline-block; 
	height: 27px;
	width: 25px;
	margin: 0 0.25rem;
	background: url(../img/social-sprite.png) no-repeat; 

	&.icon-facebook {
		background-position: -44px -40px; 
	}
	&.icon-insta {
		background-position: -82px -40px;
	}
} 
