
/* ==========================================================================
   Settings
   ========================================================================== */

$color-black: #000000;
$color-white: #ffffff; 
$color-brand-red: #E32016; 
