
/* ==========================================================================
   Typogrphy
   ========================================================================== */

// Anchor
// --------------------------------------------------------------------------

a {
	text-decoration: none !important; 
	color: inherit;

	&:active, 
	&:focus, 
	&:hover {
		outline: 0 !important;
	}
}
